.centeredVert {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.centeredHorz {
    position: relative;
    left: 50%;
    transform: translateX(-50%)

}

.container {
    display: flex;
    width: 800px;
}

@media(max-width: 800px) {
    .container {
        width: 100vw;
    }
}

.selector {
    padding: 20px;
}

.board {
    margin:20px;
}

.row {
    vertical-align: middle;
}

.App {
  text-align: center;
}

